<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <form action="">
        <input type="text" placeholder="Email or Phone Number"><br>
        <input type="text" placeholder="password"><br>
        <button type="submit" >log in</button><br>
        <a href="" class="fpwd">Forgot Password</a>
        <div class="line"></div><br>
        <button class="btn2">create an new account</button>
    </form>
    <div class="fcontain">
        <img src="fblogo.svg" alt="Facebook" class="fblogo">
        <p class="connectpara">Facebook helps you connect and share with the people in your life.</p>

    </div>
    <div class="sublink">
        <h3><a href="">create a page</a>for a celebrity,band or business.</h3>
    
    </div>

</body>
</html>