{% load static %}
<!DOCTYPE html>
<head>

</head>
<style>
    table{
        border: 2px solid;
        border-spacing: 0px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        color:rgb(126, 126, 186);
        border-color:blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .th,td{
        padding:15px;
        text-align: center;
    }
    tr:hover{
        background-color:  rgb(215, 217, 229);
    }
    body{
        background-color: black;
    }
    h1{
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        margin-left: 500px;
        margin-top: 0px;
    }
    .image{
    height:150px;
    border-radius: 50px;
    width: 170px;
}
::-webkit-scrollbar{
            width: 0px;
    
        
    
    
    
</style>
<body>
    <img class="image"src="{% static 'images/new.png' %}">
        
    <h1>REGIONAL TRANSPORT OFFICES</h1>
    <table border="1px" width="1500">
        <tr>
        
           <th>OFFICE</th>
            <th>DESIGINATION</th>
            <th>NAME</th>
            <th>MOBILE</th>
            <th>ADDRESS</th>
            <th>LANDLINE</th>
        
        
        </tr>
        <tr>
            <td rowspan="2">Trivandrum (KL-01)</td>
            <td>RTO</td>
            <td>Thankarajan N</td>
            <td>8547639004</td>
            <td rowspan="2">5th Floor, KSRTC Terminal, Thampanoor,TVM, 695023</td>
            <td rowspan="2">0477-2253160</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>K Usha</td>
            <td>9188961904</td>
            

        </tr>
        <tr>
            <td rowspan="2">Kollam           (KL-02)</td>
            <td>RTO</td>
            <td>D Mahesh</td>
            <td>8547639002</td>
            <td rowspan="2">Civil Station, Anandavalle-swaram, 695013</td>
            <td rowspan="2">0474-2793499</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>V Suresh Kumar</td>
            <td>9188961902</td>
            

        </tr>
        <tr>
            <td rowspan="2">Pathanamthitta (KL-03)</td>
            <td>RTO</td>
            <td>	A K Dilu</td>
            <td>8547639003</td>
            <td rowspan="2">Parayil Building, College Rd, Makamkunnu PO, 689645 </td>
            <td rowspan="2">0468-2222426</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>AjiKumar B</td>
            <td>9188961903</td>
            

        </tr>
        <tr>
            <td rowspan="2">Alappuzha     (KL-04)</td>
            <td>RTO</td>
            <td>Saji Prasad G S</td>
            <td>8547639004</td>
            <td rowspan="2">Civil Station, Civil Station P.O., Alappuzha. PIN: 688001</td>
            <td rowspan="2">0477-2253160</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>K Usha</td>
            <td>9188961904</td>
            

        </tr>

        <tr>
            <td rowspan="2">Kottayam       (KL-05)</td>
            <td>RTO</td>
            <td>P R Sajeev</td>
            <td>8547639005</td>
            <td rowspan="2">Civil Station, Collectorate PO 686002</td>
            <td rowspan="2">0481-2560429</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>D Jayara</td>
            <td>9188961916</td>
            

        </tr>
        <tr>
            <td rowspan="2">Idukki           (KL-06)</td>
            <td>RTO</td>
            <td>Ramanan R</td>
            <td>8547639006</td>
            <td rowspan="2">Civil Station, Kuyilimala, Pinav PO, 685603</td>
            <td rowspan="2">04862-232244</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Archana Sadasivan</td>
            <td>9188961906</td>
            

        </tr>

        <tr>
            <td rowspan="2">Ernakulam   (KL-07)</td>
            <td>RTO</td>
            <td>SHABEER P M (Addnl Charge)</td>
            <td>8547639007</td>
            <td rowspan="2">2nd Floor, Civil Station, Kakkanad, Thrikakkara PO, 682030</td>
            <td rowspan="2">0484-2422246</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>	Rajeev K K</td>
            <td>	
                9188961907</td>
            

        </tr>
        <tr>
            <td rowspan="2">Thrissur       (KL-08)</td>
            <td>RTO</td>
            <td>Biju james</td>
            <td>8547639008</td>
            <td rowspan="2">Civil Station, Ayyanthole PO, Thrissur, 680003</td>
            <td rowspan="2">0487-2360262	</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>K A Raju</td>
            <td>	
                9188961908</td>
            

        </tr>

              <tr>
            <td rowspan="2">Palakkad       (KL-09)</td>
            <td>RTO</td>
            <td>Jerson T M</td>
            <td>8547639009</td>
            <td rowspan="2">Civil Station, S Fort Rd, Kenathu- parambu, Kunathurmedu 678002</td>
            <td rowspan="2">0491-2505741</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>K Manoj</td>
            <td>9188961909</td>
            

        </tr>
        <tr>
            <td rowspan="2">Malappuram (KL-10)</td>
            <td>RTO</td>
            <td>V A Sahadevan</td>
            <td>8547639010</td>
            <td rowspan="2">Civil Station, Uphill, Malappuram 676505</td>
            <td rowspan="2">0483-2734924</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Mathew Legion V L</td>
            <td>9188961910</td>
            

        </tr>
        <tr>
            <td rowspan="2">Kozhikkode (KL-11)</td>
            <td>RTO</td>
            <td>P R Sumesh</td>
            <td>8547639011</td>
            <td rowspan="2">Civil Station, Malaparamba 673020</td>
            <td rowspan="2">0495-2371705</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>M P Dinesan</td>
            <td>9188961911</td>
            

        </tr>
        <tr>
            <td rowspan="2">Wayanad       (KL-12)</td>
            <td>RTO</td>
            <td>	E Mohandas</td>
            <td>8547639012</td>
            <td rowspan="2">Civil Station, Kalpetta, North Kalpetta PO 673122</td>
            <td rowspan="2">04936-202607</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>T P Yousaf</td>
            <td>	
                9188961912</td>
            

        </tr>
        <tr>
            <td rowspan="2">Palakkad       (KL-09)</td>
            <td>RTO</td>
            <td>Jerson T M</td>
            <td>8547639009</td>
            <td rowspan="2">Civil Station, S Fort Rd, Kenathu- parambu, Kunathurmedu 678002</td>
            <td rowspan="2">0491-2505741</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>K Manoj</td>
            <td>9188961909</td>
            

        </tr>
        <tr>
            <td rowspan="2">Kannur           (KL-13)</td>
            <td>RTO</td>
            <td>E S Unnikrishnan</td>
            <td>8547639013</td>
            <td rowspan="2">Civil Station, Edapally-Panvel Highway, Kannur 670002</td>
            <td rowspan="2">0497-2700566</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Reji Kuriakose (In Charge)</td>
            <td>9188961913</td>
            

        </tr>
        <tr>
            <td rowspan="2">Kasaragod   (KL-14)</td>
            <td>RTO</td>
            <td>	A K Radhakrishnan</td>
            <td>8547639014</td>
            <td rowspan="2">Civil Station, Vidyanagar PO, 671123</td>
            <td rowspan="2">04994-255290</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Jose Alex</td>
            <td>	
                9188961914</td>
            

        </tr>
        <tr>
            <td rowspan="2">Nationalized Sector (KL-15)</td>
            <td>RTO</td>
            <td>G Venugopalan Potty</td>
            <td>8547639015</td>
            <td rowspan="2">Civil Station, Kudapanakunnu, Trivandrum </td>
            <td rowspan="2">0471-2731339	</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>	Jerson T M</td>
            <td>	8547639009</td>
            

        </tr>
        <tr>
            <td rowspan="2">Attingal         (KL-16)</td>
            <td>RTO</td>
            <td>SAJAN G</td>
            <td>8547639016</td>
            <td rowspan="2">AMC 16/218(1), Avittam Complex, Mamam, Attingal PIN:695104</td>
            <td rowspan="2">0470-2626400	</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Mini Sharafudeen</td>
            <td>9188961916</td>
            

        </tr>
        <tr>
            <td rowspan="2">Muvattupuzha (KL-17)</td>
            <td>RTO</td>
            <td>SHABEER P M</td>
            <td>8547639017</td>
            <td rowspan="2">Mini Civil Station, Pazhapally, Mudavoor PO, 686669</td>
            <td rowspan="2">0485-2814959</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>S Anil Kumar	
            </td>
            <td>9188961917</td>
            

        </tr>
        <tr>
            <td rowspan="2">Vadakkara   (KL-18)</td>
            <td>RTO</td>
            <td>C V M Shereef</td>
            <td>	8547639018</td>
            <td rowspan="2">Mini Civil Station, Vadakkara Town, Kozhikkode, 673101</td>
            <td rowspan="2">0496-2526234</td>
        </tr>
        <tr>
            
            <td>JRTO</td>
            <td>Sivan P N</td>
            <td>9188961918</td>
            

        </tr>

        
    </table>
</body>