{% load static %}
<!DOCTYPE html>
<head>

</head>
<style>
    table{
        border: 2px solid;
        border-spacing: 0px;
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        color:rgb(126, 126, 186);
        border-color:blue;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
    }
    .th,td{
        padding:15px;
        text-align: center;
    }
    tr:hover{
        background-color:  rgb(215, 217, 229);
    }
    body{
        background-color: black;
    }
    h1{
        font-family: 'Times New Roman', Times, serif;
        color: blue;
        margin-left: 500px;
        margin-top: 0px;
    }
    .image{
    height:150px;
    border-radius: 50px;
    width: 170px;
}
::-webkit-scrollbar{
            width: 0px;
    
        
    
    
    
</style>
<body>
    <img class="image"src="{% static 'images/new.png' %}">
    <h1>REGIONAL TRANSPORT OFFICES SUBCODE</h1>
    <table border="1px" width="1500">
        <tr>
            <th>DISTRICT</th>
            <th>CODE</th>
        </tr>
        <tr>
            <td>KL-01</td>
            <td>Thiruvananthapuram</td> 
        </tr>
        <tr>
            <td>KL-02</td>
            <td>Kollam</td> 
        </tr>
        <tr>
            <td>KL-03</td>
            <td>Pathanamthitt</td> 
        </tr>
        <tr>
            <td>KL-04</td>
            <td>Alappuzha</td> 
        </tr>
        <tr>
            <td>KL-05</td>
            <td> Kottayam</td> 
        </tr>
        <tr>
            <td>KL-06</td>
            <td>Idukki</td> 
        </tr>
        <tr>
            <td>KL-07</td>
            <td>Ernakulam</td> 
        </tr>
        <tr>
            <td>KL-08</td>
            <td>Thrissur </td> 
        </tr>
        <tr>
            <td>KL-09</td>
            <td> Palakkad</td> 
        </tr>
        <tr>
            <td>KL-10</td>
            <td>Malappuram</td> 
        </tr>
        <tr>
            <td>KL-11</td>
            <td>Kozhikode</td> 
        </tr>
        <tr>
            <td>KL-12</td>
            <td>Wayanad</td> 
        </tr>
        <tr>
            <td>KL-13</td>
            <td> Kannur</td> 
        </tr>
        <tr>
            <td>KL-14</td>
            <td>Kasargod</td> 
        </tr>
        <tr>
            <td>KL-15</td>
            <td> Kerala State Road Transport Corporation buses</td> 
        </tr>
        <tr>
            <td>KL-016</td>
            <td>Attingal</td> 
        </tr>
        <tr>
            <td>KL-17</td>
            <td>Muvattupuzha</td> 
        </tr>
        <tr>
            <td>KL-18</td>
            <td>Vadakara </td> 
        </tr>
        <tr>
            <td>KL-19</td>
            <td>  Parassala</td> 
        </tr>
        <tr>
            <td>KL-20</td>
            <td>Neyyattinkara</td> 
        </tr>
        <tr>
            <td>KL-21</td>
            <td>Nedumangad</td> 
        </tr>
        <tr>
            <td>KL-22</td>
            <td>Kazhakkoottam / Thiruvananthapuram</td> 
        </tr>
        <tr>
            <td>KL-23</td>
            <td>Karunagapally</td> 
        </tr>
        <tr>
            <td>KL-24</td>
            <td>Kottarakara</td> 
        </tr>
        <tr>
            <td>KL-25</td>
            <td> Punalur</td> 
        </tr>
        <tr>
            <td>KL-26</td>
            <td>Adoor</td> 
        </tr>
        <tr>
            <td>KL-27</td>
            <td>Thiruvalla</td> 
        </tr>
        <tr>
            <td>KL-28</td>
            <td>Mallappally </td> 
        </tr>
        <tr>
            <td>KL-29</td>
            <td> Kayamkulam</td> 
        </tr>
        <tr>
            <td>KL-30</td>
            <td>Chengannur</td> 
        </tr>
        <tr>
            <td>KL-31</td>
            <td>Mavelikara</td> 
        </tr>
        <tr>
            <td>KL-32</td>
            <td>Cherthala</td> 
        </tr>
        <tr>
            <td>KL-33</td>
            <td>Changanassery</td> 
        </tr>
        <tr>
            <td>KL-34</td>
            <td>Kanjirappally</td> 
        </tr>
        <tr>
            <td>KL-35</td>
            <td>  Pala</td> 
        </tr>
        <tr>
            <td>KL-36</td>
            <td>Vaikom</td> 
        </tr>
        <tr>
            <td>KL-37</td>
            <td>Vandiperiyar</td> 
        </tr>
        <tr>
            <td>KL-38</td>
            <td>Thodupuzha </td> 
        </tr>
        <tr>
            <td>KL-39</td>
            <td> Thripunithura</td> 
        </tr>
        <tr>
            <td>KL-40</td>
            <td>Perumbavoor</td> 
        </tr>
        <tr>
            <td>KL-41</td>
            <td>Aluva </td> 
        </tr>
        <tr>
            <td>KL-42</td>
            <td>North Paravur</td> 
        </tr>
        <tr>
            <td>KL-43</td>
            <td>Mattancherry</td> 
        </tr>
        <tr>
            <td>KL-44</td>
            <td>Kothamangalam</td> 
        </tr>
        <tr>
            <td>KL-45</td>
            <td>Irinjalakuda </td> 
        </tr>
        <tr>
            <td>KL-46</td>
            <td>Guruvayur</td> 
        </tr>
        <tr>
            <td>KL-47</td>
            <td>Kodungallur</td> 
        </tr>
        <tr>
            <td>KL-48</td>
            <td>  Wadakkancherry</td> 
        </tr>
        <tr>
            <td>KL-49</td>
            <td>Alathur </td> 
        </tr>
        <tr>
            <td>KL-50</td>
            <td>Mannarghat</td> 
        </tr>
        
        <tr>
            <td>KL-51</td>
            <td>Ottappalam </td> 
        </tr>
        <tr>
            <td>KL-52</td>
            <td>Pattambi</td> 
        </tr>
        <tr>
            <td>KL-53</td>
            <td>Perinthalmanna</td> 
        </tr>
        <tr>
            <td>KL-54</td>
            <td>Ponnani</td> 
        </tr>
        <tr>
            <td>KL-55</td>
            <td>Tirur </td> 
        </tr>
        <tr>
            <td>KL56</td>
            <td>Koyilandi</td> 
        </tr>
        <tr>
            <td>KL-57</td>
            <td>Koduvally</td> 
        </tr>
        <tr>
            <td>KL-58</td>
            <td>Thalassery </td> 
        </tr>
        <tr>
            <td>KL-59</td>
            <td> Thaliparamba</td> 
        </tr>
        <tr>
            <td>KL-60</td>
            <td>Kanhangad</td> 
        </tr>
        
        <tr>
            <td>KL-61</td>
            <td> Kunnathur</td> 
        </tr>
        <tr>
            <td>KL-62</td>
            <td>Ranni</td> 
        </tr>
        <tr>
            <td>KL-63</td>
            <td>Angamaly</td> 
        </tr>
        <tr>
            <td>KL-64</td>
            <td>Chalakkudy</td> 
        </tr>
        <tr>
            <td>KL-65</td>
            <td> Thirurangadi</td> 
        </tr>
        <tr>
            <td>KL-66</td>
            <td>Kuttanadu</td> 
        </tr>
        <tr>
            <td>KL-67</td>
            <td> Uzhavoor</td> 
        </tr>
        <tr>
            <td>KL-68</td>
            <td> Devikulam</td> 
        </tr>
        <tr>
            <td>KL-69</td>
            <td>Udumbanchola </td> 
        </tr>
        <tr>
            <td>KL-70</td>
            <td>Chittur</td> 
        </tr>
        
        <tr>
            <td>KL-71</td>
            <td>  Nilambur</td> 
        </tr>
        <tr>
            <td>KL-72</td>
            <td>Mananthavady</td> 
        </tr>
        <tr>
            <td>KL-73</td>
            <td>Sulthan Bathery</td> 
        </tr>
        <tr>
            <td>KL-74</td>
            <td> Kattakkada</td> 
        </tr>
        <tr>
            <td>KL-75</td>
            <td> Thriprayar</td> 
        </tr>
        <tr>
            <td>KL-76</td>
            <td>Nanmanda</td> 
        </tr>
        <tr>
            <td>KL-77</td>
            <td>Perambra</td> 
        </tr>
        <tr>
            <td>KL-78</td>
            <td>Iritty </td> 
        </tr>
        <tr>
            <td>KL-79</td>
            <td> Vellarikundu</td> 
        </tr>
        <tr>
            <td>KL-80</td>
            <td>Pathanapuram</td> 
        </tr>
        
        <tr>
            <td>KL-81</td>
            <td>  Varkala</td> 
        </tr>
        <tr>
            <td>KL-82</td>
            <td>Chadayamangalam</td> 
        </tr>
        <tr>
            <td>KL-83</td>
            <td>Konni</td> 
        </tr>
        <tr>
            <td>KL-84</td>
            <td>Kondotty</td> 
        </tr>
        <tr>
            <td>KL-85</td>
            <td>Ramanattukara </td> 
        </tr>
        <tr>
            <td>KL-86</td>
            <td>Payyannur</td> 
        </tr>
        
        
        
        
       

        
    </table>
</body>